## Sequence data types and associated operations

**What is a Sequence data type?**

Sequence data types serve as containers for ordered collections of items, enabling us to efficiently store and manipulate data, be it characters, numbers, or other elements.  
In python we have the following sequence data types
## **Table of Contents**
* [Strings](#string)
* [Lists](#lists)
* [Tuple](#tuple)
* [Dictionary](#dict)
* [Sets](#sets)
* [Range](#range)

## **Strings**<a name="string"></a>

A string represents sequence of characters. A string is represented in " " or ' ' or """ """.

**1.Initialization and Assignment**

In [ ]:
# Initializing strings using different quote types

single_quote_str = 'Hello Python!'
print(f"Single Quoted:{single_quote_str}")

double_quote_str = "Data Structures are fun!"
print(f"Double Quoted:{double_quote_str}")

Single Quoted:Hello Python!
Double Quoted:Data Structures are fun!

In [ ]:
multi_line_str = """This is a
multi-line
string."""
print(f"Multi-line: \n{multi_line_str}")

Multi-line:
This is a
multi-line
string.

In [ ]:
multi_line_str = """This is a \
multi-line \
string."""
print(f"Multi-line: \n{multi_line_str}")

Multi-line:
This is a multi-line string.

In [ ]:
str1 = "Python is a powerful programming language.\nIt is widely used in data science and web development."
print(str1)

Python is a powerful programming language.
It is widely used in data science and web development.

In [ ]:
str2 = r"Python is a powerful programming language.\nIt is widely used in data science and web development."
print(str2)

Python is a powerful programming language.\nIt is widely used in data science and web development.

In [ ]:
# Initialize using str()
num = 123
string_num = str(num)
print(num,type(num),";",string_num,type(string_num)) # Output: "123"

123 <class 'int'> ; 123 <class 'str'>

**Note:**

- **`dir()`function can be used to access the valid attributes for a given object**
  
  - Syntax: `dir(<object>)`

- **`help()` function generates a help page on the object**

  - Syntax: `help(<object>)`

In [ ]:
print(dir(str2))

In [ ]:
print(help(str2.upper))

 **2.String Operations**

In [ ]:
language = "Python"
upper_text = language.upper()
print(upper_text)

PYTHON

In [ ]:
lower_text = upper_text.lower()
print(lower_text)

python

In [ ]:
print(lower_text.replace('p','P'))

Python

In [ ]:
print("Length of lower_text is: ",len(lower_text))

Length of lower_text is:  6

In [ ]:
h = print("GM")

GM

In [ ]:
print(h)

None

"None" - In Python, the "None" value doesn't have a length because it represents the absence of a value or a null value. It is not a sequence or container type that can be measured in terms of length.

If you try to get the length of "None" using the len() function, you will encounter a TypeError because "None" does not support the len() operation. Here's an example

In [ ]:
x = None
length = len(x)  # This will result in a TypeError

TypeError: object of type 'NoneType' has no len()

**3.String Indexing and Slicing**

In [ ]:
first_letter, last_letter = language[0], language[-1]
print(first_letter, last_letter)

P n

In [ ]:
first_four_letters = upper_text[:4] # name_uppercase[0:4]
last_four_letters = upper_text[-2::-1] #name_uppercase[4:len(name_uppercase)]
print(first_four_letters, last_four_letters)

PYTH OHTYP

**4.String Concatenation**

In [ ]:
language = "Python"
print(language, id(language))
language += " Programming;"
print(language, id(language))

Python 9744064
Python Programming; 134557018438064

- **Note: The `id()` method returns the identity of the object (address of an object in memory)**
- This proves that strings are immutable

**Syntax**: object * integer

In [ ]:
language = "Python"
language *=3

In [ ]:
print(language)

PythonPythonPython

**5.String Slicing**
- **:** is used to slice some elements from an ordered sequence
  - Syntax: **`object[start:stop:step]`**
  - The default value for start and step are **0** and **1** respectively
  - Negative value for step can be used to access the elements from the end of the sequence

In [ ]:
samplestr = 'Python'   # getting substring
samplestr[slice(4)]

'Pyth'

In [ ]:
samplestr[slice(1,6,2)]  # getting substring

'yhn'

## List

- A sequence data type which can contain multiple items of different data types
- A list can be created using a square bracket ```[]``` or by using the ```list()``` method
- In general, lists are ordered, mutable, and can take duplicate values

**1.Initialization**

In [ ]:
# Initializing lists with different types of elements
empty_list = []                 # An empty list
numbers = [1, 2, 3, 4, 5]       # A list of integers
mixed = [1, "apple", 3.14, True]  # Mixed data types
nested = [[1, 2], [3, 4], [5, 6]] # A list of lists

In [ ]:
print(f"Empty List: {empty_list}")
print(f"Numbers: {numbers}")
print(f"Mixed: {mixed}")
print(f"Nested: {nested}")

In [ ]:
string_value = "hello"
char_list = list(string_value)
print(char_list)

**2.List Operations**

In [ ]:
value = 7
numbers.append(value) # Appends 7 to the end of the list 'numbers'
print(numbers)

In [ ]:
mixed.reverse() # Reverses the contents of the list, in-place
print(mixed)

In [ ]:
print(len(mixed)) # Prints the length (number of elements) of the list

**3. List Indexing and Slicing**

In [ ]:
second_item = mixed[2]
third_item_from_last = mixed[-2]
print(second_item, third_item_from_last)

In [ ]:
first_three_item = mixed[:3]
last_three_item = mixed[:-4:-1]
print(first_three_item, last_three_item)

In [ ]:
lstSample = [50,100,'C','team','India']   # list

In [ ]:
lstSample.index('team')   # to find the index of element 'team'

In [ ]:
lstSample.index('India')

Inserting elements at a specific index using `insert()`:

In [ ]:
print(mixed)

In [ ]:
mixed.insert(2,'New Zealand')

print(f"items = {mixed}")

Removing elements using `remove()` or `pop()`:

In [ ]:
mixed.remove('Australia')

print(f"After removing: items= {mixed}")

In [ ]:
mixed.pop(2)

print(f"After popping out 2nd element: items= {mixed}")

**4.List Concatenation**

In [ ]:
l1 = [1, 3, 5, 7]
print(l1, id(l1))
l1 += [2, 4, 6, 8]
print(l1, id(l1))

## Tuples

- A sequence data type which can contain multiple items of different data types
- A tuple can be created using parantheses ```()``` or by using the ```tuple()``` method
- In general, tuples are ordered, immutable, and can take duplicate values

**1.Initialization**

In [ ]:
account_balance = (10302, 57059, 8030, 14688, 103023, 28734, 57059, 8030, 14688) # Tuple Packing
print(account_balance, type(account_balance))
print(len(account_balance))

In [ ]:
account_holders = ('India', ['Stella', 'Rohit', 'Jessi'])
print(account_holders, type(account_holders))
print(len(account_holders))

**2.Tuple Operations**

In [ ]:
print(account_balance.index(10302))

* Unpacking Tuples - You can assign the elements of a tuple to multiple variables in a single assignment statement

In [ ]:
account_details = ('Virat', 32, 1234)
name, age, balance = account_details

print(name)
print(age)
print(balance)

**3. Tuple Indexing and Slicing**

In [ ]:
first_account_balance = account_balance[0]
last_account_balance = account_balance[-1]
print(first_account_balance, last_account_balance)

In [ ]:
first_four_accounts_balance = account_balance[1:5]
last_four_accounts_balance = account_balance[4:-1:]
print(first_four_accounts_balance, last_four_accounts_balance)

**4. Tuple Concatenation**

In [ ]:
a=(4)
type(a)
a=(4,)
type(a)

In [ ]:
tup = 1, 2, 3
print(tup, id(tup))
tup += (4,)
print(tup, id(tup))

- This proves that tuples are immutable

## Dictionary

- A sequence data type which can contain multiple items of different data types. The items are stored as key:value pairs
- A dictionary can also be created using flower bracket ```{}``` or by using the ```dict()``` method
- In general, dictionaries are ordered, mutable, and can not take duplicate values. By order, it means that the items in dictionaries are retained in the same order as they were when created

**1.Initialization**

In [ ]:
car_details = {
               "Brand": "Hyundai",
               "Model": "i20",
               2: 821695
              }

In [ ]:
car_details2 = dict([
    ("Brand", "Hyundai"),
    ("Model", "i20"),
    (2, 821695)
])

In [ ]:
print(car_details["Brand"])
print(car_details2[2])

**2. Dictionary Operations**

In [ ]:
car_details.get("Brand")

In [ ]:

print(car_details.keys())

print(car_details.values())

print(car_details.items())

In [ ]:
print(car_details.get('name'))

print(car_details.get('name', 0))

In [ ]:
 car_details.items()

In [ ]:
for key,val in car_details.items():
  print(key,":",val)

In [ ]:
value = car_details.pop('Model')
print(value)

key, value = car_details.popitem()
print(key)
print(value)
print(car_details)

**3. Dictionary concatenation**

In [ ]:
car_details.update({"Price": "1135687"})
print(car_details)

In [ ]:
car_details["milage"] = 19
print(car_details["milage"])

In [ ]:
car_details

## Set

- A sequence data type which can contain multiple items of different data types
- A set can be created using a flower bracket ```{}``` or by using the ```set()``` method
- In general, sets are unordered, mutable, and can not take duplicate values

**1.Initialization**

In [ ]:
fruits_stock = {"Apple", "Banana", "Watermelon", "Banana", "Guava", "Apple"}
print(fruits_stock)

In [ ]:
empty_set = {}

# Creates a dictionary not a set
print(type(empty_set))

In [ ]:
empty_set = set()
print(type(empty_set))

**2.Set Operations**

In [ ]:
fruits_stock.add("Strawberry")
print(fruits_stock)

In [ ]:
fruits_stock.update(['Mango','Musk Melon'])

print(fruits_stock,type(fruits_stock))

In [ ]:
fruits_stock.clear()
print(fruits_stock)

In [ ]:
a={"apple","banana"}
b={"banana","strawberry"}
print(a|b)

In [ ]:
a.union(b)

In [ ]:
#Indexing
a[1]       # TypeError: 'set' object does not support indexing

In [ ]:
#Slicing
a[1:2]                  # TypeError: 'set' object is not subscriptable

### Range:
* A range is a sequence of numbers that can be created using the `range()` function

* Commonly used in loops and is especially helpful for iterating through a range of numbers.

* Function can take one, two, or three arguments, and it returns a sequence of numbers starting from a specified start value, up to (but not including) an end value, and with a specified step value.

    * range(stop)

    * range(start, stop)
    
    * range(start, stop, step)

**1.Initialization**

In [ ]:
# Basic range with only stop (start defaults to 0, step defaults to 1)
r1 = range(5)  # 0, 1, 2, 3, 4
r1

In [ ]:
for i in r1:
    print(i)

In [ ]:
# Range with start and stop
r2 = range(2, 7) # 2, 3, 4, 5, 6
r2
for i in r2:
    print(i)

In [ ]:
# Range with start, stop, and step
r3 = range(1,12,2)
print(r3)
for i in r3:
    print(i)

![img4.png]()

### Arrays:

In [ ]:
import array

**1.Initalization**

In [ ]:
int_array = array.array('i', [1, 2, 3, 4, 5])    # 'i' stands for integer
float_array = array.array('f', [1.1, 2.2, 3.3])  # 'f' stands for float

In [ ]:
print(int_array)
print(float_array)

**2.Operations**

In [ ]:
print(int_array[0])
print(float_array[-1])

In [ ]:
int_array[1] = 200
print(int_array)

In [ ]:
int_array.append(6)
print(int_array)

## END